

body{
 
 margin:0;
 padding: 0;
}

.App{
  min-width:255px;
  max-width: 467px;
  margin: 0 auto;
 
 
}




/* 
==============
header--start-
============== */


    .header{
        min-width:250px;
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    nav a {
      text-decoration: none;
      font-size: 1.125rem;
      padding: 0.85em 0;
      line-height: 1;
      color: #434343;
      display: block;

    }
    
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    .header_action{
      padding: .5em 1em;
     
      text-align: center;
      font-family: 'Red Rose';
      font-weight: 400;
      font-size: 1em;
      line-height: 1em;
      background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
      border-radius: 10px;

      color: #FFFFFF;
     }
     li{
      font-family: 'Red Rose';
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1;
      color: #434343;


     }
     


/* 
==============
header--end-
============== */

@media(min-width:769px)and (max-width:1000px){
  ul{
    gap: 1em;
  }
}

@media(min-width:768px){
  .header{
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
  }
  
  ul{
    display:flex;
   
    gap:2.625em
  }
  
  
}



