

body{
 
 margin:0;
 padding: 0;
 font-family: 'Red Rose', cursive;
}

.App
{
  min-width:255px;
  max-width: 467px;
  margin: 0 auto;
 
}



.home,
.header,
.footer
.home
{
    min-width:250px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card{
  min-width:250px;
  width:100%;
}


/* 
==============
header--start-
============== */


  
    
    nav a{
      text-decoration: none;
      font-size: 1.125rem;
      padding: 0.85em 0;
      line-height: 1;
      color: #434343;
      display: block;

    }
    
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    .header_action{
      padding: .5em 1em;
     
      text-align: center;
      font-family: 'Red Rose';
      font-weight: 400;
      font-size: 1em;
      line-height: 1em;
      background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
      border-radius: 10px;

      color: #FFFFFF;

      position:relative;
      z-index: 1;
     

    
     }

     .header li{
      font-family: 'Red Rose';
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1;
      color: #434343;


     }
     


/* 
==============
header--end-
============== */


/* 
===============
footer-start-
=============== */


.footer{
  background: #1D1D1E;
  width:100%;
  
}
.footer h3{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  
  color: #FFFFFF;
}


.footer div {

   margin-bottom: 2.5em;

}
.footer div a{
  text-decoration: none;
  display: block;
  margin-top: .85em;
  color: #F1F3F9;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
}


.sm_medias{
  display:flex;
  justify-content: space-around;
  padding:1em 0;
  margin:0;
}

.footer p{
  
  color: #F1F3F9;
}


/* 
==============
footer--end-
============== */



/* 
==============
section--start-
============== */



/* ----section_91---- */



.section_01 h1{

    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #434343;
}
.section_01 h1 span {

  font-weight: 700;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: -0.02em;

  background: linear-gradient(180deg, #A02279 79.31%, rgba(255, 192, 137, 0.6) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.section_01 img{
  width:70%;
  margin-top: 3em;
}

.section_01 p{
  font-family: 'Red Rose';
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 35px;
  color: #434343;
}




/* ----section_92---- */


.section_02 .img_logo{
  display:flex;
  
  margin-top:2rem;
  flex-direction: column;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}
.section_02 h2{
  color: #000000;
  font-weight: 700;
  font-size: 2em;
  line-height: 60px;

}

.section_02 img{
  width:100%;
  height: 40px;
  margin-bottom:1em;
 
  object-fit: contain;
 

  font-weight: 700;
  font-size: 32px;
  line-height: 96%;

  display: flex;
  align-items: center;
  letter-spacing: -0.03em;

  color: #FFFFFF;
}


/* -----section_04---- */

.section_04{
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  color: #f3f4f9;

}

.section_04 img{
  width:80%;
  object-fit: contain;

}

.section_04 h2{
  font-weight: 700;
  font-size: 1.5em;
  line-height: 60px;

  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);


}

.section_04 p{
  font-weight: 400;
  font-size: 0.85em;
  line-height: 35px;
  padding: 0 .75em;;
  
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}



/* ----form--- */


  form input,
  button{
    background: rgba(247, 247, 247, 0.1);
    border: 1px solid #A3A3A3;
    border-radius: 25px;
    display:block;
    width:80%;
    margin: 0 auto 1rem;
    padding:  1em;
    border-radius: 0px 8px 8px 0px;
  }


   button{
    margin-top: 1rem;
    width:80%;
    margin: 0 auto;
    padding:  1em;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border-radius: 0px 8px 8px 0px;
    color: #fff;
    font-family: 'Red Rose', cursive;
  }


/* 
==============
section--end-
============== */

/* ==============
card--start-
==============  */

.card{
  width:100%;

 

    min-width:250px;
    display:block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top:1em;
    color:#000000;
   
    
}

.card_components{
 display: flex;
 flex-direction: column;
 padding:.5em;
 margin-bottom: 1em;
}

.card_components_info{
  width:90%;
  margin:0 auto;  
  text-align: left;
  
}
.cover_img img{
  width: 90%;
  object-fit: contain;
  
}



/* ==============
card--end-
==============  */

/* 
/* ==============
modal--start-
==============  */

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding:50px;
  z-index: 1000;
}

.overlay{
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}




/* ==============
modal--end-
==============  */






/* 
=================
media-query-start-
================= */

@media(min-width:769px)and (max-width:1000px){
  .headerul{
    gap: 1em;
  }
}

@media(min-width:768px){
  .header{
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
  }
  
  .header ul{
    display:flex;
   
    gap:2.625em
  }

  .footer{
    display: flex;
    
    flex-direction: row;
    justify-content: space-around;

  }

  
  .sm_medias{
    justify-content: flex-start;
    padding-top: 4em;
    gap: 2em;
  }

  .footer .brand_info{
    order:0;
  }

  .footer .footer_community{
    order: 1;
  }

  .footer_places{
    order:2;
  }
  
  .footer_about{
    order:3;
  }

  .footer p{
      display: flex;
      justify-content: flex-start;
      letter-spacing: .15em;
  }
  
  
}



/* 
===============
media-query-end-
=============== */




